main#container {
    width: 90vw;
    max-width: 580px;
    background-color: #1d293d;
    padding: 10px;
    border-radius: 10px;
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

#Movie{
    width: 95%;
    height: 100%;
    padding-left: 1em;
    background: transparent;
    border: none;
    color: #FFFFFF;
}

#searchMovie{
    height: 35px;
    width: 35px;
    background: transparent;
    border: none;
}

#searchMovie:hover{
    cursor: pointer;
}

#posterMovie{
    width: 50%;
    max-width: 205px;
}

.infos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

.fa-star{
    color: yellow;
}

.fa-magnifying-glass{
    color: #FFFFFF;
}

#genres {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type {
    font-size: 16px;
    font-weight: 200;
    background-color: #999999;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.infosMovie{
    width: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    font-size: 1.20em;
}

.detailsMovie{
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
    margin: 15px 0 20px 0;
    font-weight: 100;
}

h5{
    font-size: 1.4em;
    color: #FFFFFF;
}

#plotMovie > p{
    color: #FFFFFF;
    margin: 10px 0;
    font-size: 1em;
}

#plotMovie{
    margin-top: 2em;
}

#error404{
    width: 100%;
}

#errorMovie{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 65px;
}

p#messageError{
    margin-top: 25px;
    font-size: 25px;
    color: #b5e0e9;
}

.searchMovie > img{
    width: 100%;
}